<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index - List of ads</title>
</head>
<body>
    <nav>
        <a th:href="@{/}">List ads</a>
        <a th:href="@{/add-blaster}">Add an add</a>
        <a th:href="@{/add-member}">Create your account</a>
        <a th:href="@{/login}">Login</a>
    </nav>
    <h1>List of ads</h1>
    <h2>Choose</h2>
    <form th:action="@{/query}" method="post">

        <label for="category">Category: </label>
        <select name="category" id="categoryq" required>
            <option value="">--Please choose an option--</option>
            <option value="House">House</option>
            <option value="Forest">Forest</option>
            <option value="Rubber_trees">Rubber trees</option>
            <option value="House_and_forest">House and forest</option>
        </select>

        <input type="submit" value="Choose" />
    </form>
    <h2>Sort by</h2>
    <form th:action="@{/sortby}" method="post">

        <label for="category">Category: </label>
        <select name="category" id="category" required>
            <option value="">--Please choose an option--</option>
            <option value="House">House</option>
            <option value="Forest">Forest</option>
            <option value="Rubber_trees">Rubber trees</option>
            <option value="House_and_forest">House and forest</option>
        </select>

        <input type="submit" value="Sort" />
    </form>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="dto : ${annonsDTOs}">
                <td th:text="${dto.getName()}"></td>
                <td th:text="${dto.getPrice()}"></td>
                <th scope="row"><img alt="" th:src="*{'data:image/jpeg;base64,'+{dto.getImage}}" style="width: 100px;height: 100px;"></th>
            </tr>
        </tbody>
    </table>
</body>
</html>